*::-webkit-scrollbar {
  display: none;
}

.divone,
.divtwo,
.divthree {
  transition: 0.9s ease-in-out;
}

.account {
  display: flex;
  min-height: 100vh;
}

.account .divtwo,
.account .divone,
.ACOS .divtwo,
.ACOS .divone,
.ACOH .divtwo,
.ACOH .divone,
.ACOR .divtwo,
.ACOR .divone {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.account nav:nth-child(1) {
  width: 8%;
  background-color: #6d5d6e;
}
.account nav:nth-child(2) {
  width: 8%;
  background-color: #4f4557;
}
.account nav:nth-child(3) {
  width: 90%;
  background-color: #f4eee0;
}

.ACOS {
  display: flex;
  min-height: 100vh;
}
.ACOS .remove-effect {
  display: none;
}

.ACOS nav:nth-child(1) {
  width: 8%;
  background-color: #6d5d6e;
}
.ACOS nav:nth-child(2) {
  width: 90%;
  background-color: #4f4557;
  animation: back-effect 1s forwards;
}
.ACOS nav:nth-child(3) {
  width: 8%;
  background-color: #393646;
}

.ACOH {
  display: flex;
  min-height: 100vh;
}
.ACOH .remove-effect {
  display: none;
}

.ACOH nav:nth-child(1) {
  width: 90%;
  background-color: #6d5d6e;
  animation: back-effect 1s forwards;
}
.ACOH nav:nth-child(2) {
  width: 8%;
  background-color: #4f4557;
}
.ACOH nav:nth-child(3) {
  width: 8%;
  background-color: #393646;
}

.ACOR {
  display: flex;
  min-height: 100vh;
  background-color: #4f4557;
}
.ACOR .remove-effect {
  display: none;
}

.ACOR nav:nth-child(1) {
  width: 7.5%;
  background-color: #6d5d6e;
  /* animation: back-effect 1s forwards; */
}
.ACOR nav:nth-child(2) {
  width: 7.5%;
  background-color: #4f4557;
}
.ACOR nav:nth-child(3) {
  width: 80%;
  animation: ACOR-effect 1.5s forwards;
  background-color: #4f4557;
}

@keyframes ACOR-effect {
    0% {
    background-color: #f4eee0;
  }
    50% {
    width: 0%;
  }
  100% {
    width: 85%;
    background-color: #f4eee0;
  }
}

/* ---------------------------Register */


/* -------------- STORE -------------------------- */

.store {
  display: flex;
  height: 100vh;
}

.store .divthree,
.store .divone,
.SCOA .divthree,
.SCOA .divone,
.SCOH .divthree,
.SCOH .divone {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.store nav:nth-child(1) {
  width: 8%;
  background-color: #6d5d6e;
}
.store nav:nth-child(2) {
  width: 90%;
  overflow: scroll;
  background-color: #f4eee0;
}

@keyframes back-effect {
  100% {
    background-color: #f4eee0;
  }
}
.store nav:nth-child(3) {
  width: 8%;
  background-color: #393646;
}

.SCOH {
  display: flex;
  min-height: 100vh;
}
.SCOH .remove-effect {
  display: none;
}

.SCOH nav:nth-child(1) {
  width: 90%;
  background-color: #6d5d6e;
  animation: back-effect 1s forwards;
}
.SCOH nav:nth-child(2) {
  width: 8%;
  background-color: #4f4557;
}
.SCOH nav:nth-child(3) {
  width: 8%;
  background-color: #393646;
}

.SCOA {
  display: flex;
  min-height: 100vh;
}
.SCOA .remove-effect {
  display: none;
}

.SCOA nav:nth-child(1) {
  width: 8%;
  background-color: #6d5d6e;
}
.SCOA nav:nth-child(2) {
  width: 8%;
  background-color: #4f4557;
}
.SCOA nav:nth-child(3) {
  width: 90%;
  background-color: #393646;
  animation: back-effect 1s forwards;
}

/* ---------------------------Home ---------------------------- */

.home {
  display: flex;
  min-height: 100vh;
}

.home .divthree,
.home .divtwo,
.HCOA .divthree,
.HCOA .divtwo,
.HCOS .divthree,
.HCOS .divtwo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.home nav:nth-child(1) {
  width: 90%;
  background-color: #f4eee0;
}
.home nav:nth-child(2) {
  width: 8%;
  background-color: #4f4557;
}
.home nav:nth-child(3) {
  width: 8%;
  background-color: #393646;
}

.HCOS {
  display: flex;
  min-height: 100vh;
}
.HCOS .remove-effect {
  display: none;
}

.HCOS nav:nth-child(1) {
  width: 8%;
  background-color: #6d5d6e;
}
.HCOS nav:nth-child(2) {
  width: 90%;
  background-color: #4f4557;
  animation: back-effect 1s forwards;
}
.HCOS nav:nth-child(3) {
  width: 8%;
  background-color: #393646;
}

.HCOA {
  display: flex;
  min-height: 100vh;
}
.HCOA .remove-effect {
  display: none;
}

.HCOA nav:nth-child(1) {
  width: 8%;
  background-color: #6d5d6e;
}
.HCOA nav:nth-child(2) {
  width: 8%;
  background-color: #4f4557;
}
.HCOA nav:nth-child(3) {
  width: 90%;
  background-color: #393646;
  animation: back-effect 1s forwards;
}

.icons-effect {
  height: 50px;
  width: 100%;
  margin-top: 19px;
  /* left: 25px; */
}

.icons-effect-register {
  width: 100%;
  position: relative;
  top: -11px;
}

.icons-effect-log {
  height: 45px;
}

/* .back-color{
  position: absolute;
  height: 100vh;
  width: 100%;
  border: 2px solid red;
  position: absolute;
} */

/* p{
  margin: 0;
} */
