.card{
    height: 350px;
    width: 350px;
    position: relative;
    border-radius: 50%;
    
}

.card:hover{
    height: 350px;
    width: 350px;   
}

.card:hover img{
    transform: scale(1.2);
}

.card img{
    margin-top: 45px;
    width: 300px;
    transition: 0.8s;
    z-index: 5;
    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.501));
}

@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes fade-in-fwd {
    0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
}
100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
}
}


.card figure{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-animation: fade-in-fwd 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-fwd 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.car-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 80px 30px;
    padding: 50px 50px;
    text-decoration: none;
    color: black;
    height: fit-content;
}

.card .prod{
    font-size: 1rem;
    position: absolute;
    top: 290px;
    transition: 0.6s;
    text-align: center;
    color: black;
    font-weight: 400;
}

.card:hover .prod{
    opacity: 0;
}

.card .link-prod{
    height: 350px;
}