.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 87vh;
    color: #121212;
}

.login{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    gap: 30px;
}

.login-info{
    display: flex;
    flex-direction: column;
}

.register-sug{
    padding: 50px;
    background-color: #121212;
    color: #F4EEE0;
}



.login input{
    border: none;
    height: 30px;
    background-color: #121212;
    color: #F4EEE0;
}

.register-link{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #F4EEE0;
    cursor: pointer;
}