.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 87vh;
    color: #9DB2BF;
}

.login{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    gap: 30px;
}

.login-info{
    display: flex;
    flex-direction: column;
}

.register-sug{
    padding: 50px;
    background-color: #9DB2BF;
    color: #27374D;
}



.login input{
    background-color: #9DB2BF;
    border: none;
    height: 30px;
}

.register-link{
    color: #27374D;
}